.faqs {
    margin-top: 50px;
    @media screen and (min-width: 992px) {
        margin-top: 100px;
    }
    h2 {
        &::after {
            display: block;
            content: "";
            border-top: 0.2rem solid #101010;
            width: 71px;
            margin: 14px auto;
            text-align: center;
        }
    }
}

/* Accordion Changes */
.faqs {
    .accordion {
        .card {
            border: 1px solid #d5d5d5;
            margin-bottom: 8px;
        }
        .card-header {
            background: transparent;
            // border-top: 1px solid #d5d5d5;
            border-bottom: 0;
            cursor: pointer;
        }
        .card.last {
            .card-header {
                border-bottom: 1px solid #d5d5d5;
            } 
        }
        .accicon {
            float: right;
        }
        .card-header {
            .accicon {
                transform: rotate(180deg);
            }
            &.collapsed {
                .accicon {
                    transform: inherit;
                }
            }
        }
    }
}