@font-face {
    font-family: "Mazda Regular";
    src: url("../assets/fonts/mazda-type-regular.eot");
    src: url("../assets/fonts/mazda-type-regular.woff") format("woff"),
    url("../assets/fonts/mazda-type-regular.woff2"),
    url("../assets/fonts/mazda-type-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;  
}
@font-face {
    font-family: "Mazda Medium";
    src: url("../assets/fonts/mazda-type-medium.eot");
    src: url("../assets/fonts/mazda-type-medium.woff") format("woff"),
    url("../assets/fonts/mazda-type-medium.woff2"),
    url("../assets/fonts/mazda-type-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;  
}