
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "_header.scss";
@import "_hero-carousel.scss";
@import "_home-card.scss";
@import "_special-offers.scss";
@import "_welcome-form.scss";
@import "_welcome-static-img.scss";
@import "_how-does-work.scss";
@import "_faqs.scss";